.container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.tableBlock {
    background-color: aliceblue;
}

.formBlock {
    background-color: azure;
    padding-top: 20px;
}
